#bgMenuPattern{
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 49;
  display: block !important;
  background: #0a0a0a;
}

#bgMenuPattern::before{
  content: "";
  position: absolute;
  inset: -64px;
  background: repeating-linear-gradient(135deg, #0a0a0a 0 22.627416998px, #4c3b15 22.627416998px 45.254833996px);
  animation: menuStripeMove 2.8s linear infinite;
  will-change: transform;
}

#bgMenuPattern::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),radial-gradient(1100px 520px at 50% 58%, rgba(0,0,0,0.0), rgba(0,0,0,0.75));
}

#menuScreen,
#playerCountScreen,
#modeScreen,
#gameConfigScreen,
#mapScreen,
#coopScreen,
#coopModeSelectScreen,
#onlineHomeScreen,
#onlineJoinScreen,
#onlineLobbyScreen,
#optionsScreen:not([data-ingame="1"]):not([data-online-lobby="1"]),
body:not([data-online-profile-open="1"]) #profileScreen,
#creditsScreen,
body:not([data-online-store-open="1"]) #cosmeticStoreScreen {
  background: transparent !important;
}

@keyframes menuStripeMove {
  from { transform: translate3d(-16px, -16px, 0); }
  to { transform: translate3d(16px, 16px, 0); }
}
